html, body {
    margin: 0%;
    height: 100%;
}



/* Footer */
.footer {
    width: 100%;
}
#footerContent {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    margin-top: var(--nav-height);
    float: left;
    background: var(--bottom-color);
}
#bottomTopBox {
    height: 25%;
}
#contact {
    height: 45%;
    width: 80%;
    margin-left: 10%;
}
#contactTitle {
    margin-bottom: 10px;
    font-size: 30px;
    color: var(--text-contrast);
}
.contactInfo {
    color: var(--primary-contrast);
    font-size: 18px;
}
.contactInfo > a {
    color: var(--primary-contrast);
}
#bottomBox {
    height: 30%;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    border-top: 1px solid var(--text-contrast);
    font-size: 18px;
    color: var(--text-contrast);
}
@media (max-width: 900px){
    #contactTitle {
        text-align: center;
    }
    .contactInfo {
        text-align: center;
    }
    #bottomBox {
        text-align: center;
    }
}

:root{
    --primary-color: #182833;
    --secondary-color: #183040;
    --bottom-color: #101520;
    --text-color: rgb(36, 24, 24);
    --border-color: black;
    --primary-contrast: #FDA300;
    --secondary-contrast: white;
    --third-contrast: black;
    --text-contrast: white;

    --nav-height: 80px; 
}