<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>Footer</title>
</head>
<body>

    <div class="testBody" style="height: 1000px;">
        Delete when better solution is found. 
    </div>

    <footer class="section4">
        <div id="footerContent">
            <div id="bottomTopBox"></div>
            <div id="contact">
                <div id="contactTitle">Info</div>
                <div class="contactInfo">Mail: &nbsp<a href="">airvibe@air.com</a></div>
            </div>
            <div id="bottomBox">© AirVibe 2025</div>
        </div>
    </footer>
</body>
</html>