html,
body {
  margin: 0%;
  height: 100%;
}

/* Footer */
.footer {
  width: 100%;
}

#footer-content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  float: left;
  background: var(--bottom-color);
}

#footer-content a {
  color: var(--primary-contrast);
}

#contact {
  height: 45%;
  width: 80%;
  margin-left: 10%;
}

#contactTitle {
  margin-bottom: 10px;
  font-size: var(--h1-desktop-font-size);
  color: var(--contrast-text-color);
}

.contactInfo {
  color: var(--contrast-text-color);
  font-size: var(--text-desktop-font-size);
}

.contactInfo>a {
  color: var(--primary-contrast);
}

#bottomBox {
  height: 30%;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  border-top: 1px solid var(--contrast-text-color);
  font-size: 18px;
  color: var(--contrast-text-color);
}

.footer-about>p {
  color: var(--contrast-text-color);
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  #contactTitle {
    text-align: center;
    font-size: var(--h1-mobile-font-size);
  }

  .contactInfo {
    text-align: center;
    font-size: var(--text-mobile-font-size);
  }

  #bottomBox {
    text-align: center;
    font-size: var(--text-mobile-font-size);
  }

  .footer-about > p {
    color: var(--contrast-text-color);
    margin-left: 5%;
    margin-right: 5%;
    font-size: var(--text-mobile-font-size);
  }
}