/* styles.css */

/* ----------------- */
/* Dual range slider */
/* ----------------- */

.dual-range-slider-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.dual-range-slider-control {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 20px;
}

.dual-range-slider-form-control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--text-color);
}

.dual-range-slider-sliders-container {
    border: 1px solid black;
}

.dual-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 5px;  /* Width of the line */
    height: 20px; /* Height of the line */
    background-color: #fff; /* Color of the line */
    cursor: pointer;
}

.dual-range-slider::-moz-range-thumb {
    -moz-appearance: none;
    pointer-events: all;
    width: 5px;  /* Width of the line */
    height: 20px; /* Height of the line */
    background-color: #fff; /* Color of the line */
    cursor: pointer;
}

.dual-range-slider::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

.dual-range-slider::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}


.dual-range-slider-number-input {
    width: 90px;
    /* height: 30px; */
    font-size: 20px;
    border-radius: 5px;
}

.dual-range-slider-number-input::-webkit-inner-spin-button, 
.dual-range-slider-number-input::-webkit-outer-spin-button {  
        opacity: 1;
}

.dual-range-slider{
    -webkit-appearance: none; 
    appearance: none;
    /* height: 10px; */
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

.colorful-dual-range-slider{
    height: 10px;
    /* background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet); */
}

#fromSlider {
    height: 0;
    z-index: 2;
}