/* shoppingCart.css */
.shopping-hero {
  margin-top: 2rem;
}
.shopping-cart-header {
  margin-bottom: 2rem;
}

.shopping-cart-container {
  width: 60vw;
  margin-left: 20vw;
  display: inline-block; /* Shrinks to fit content */
  padding: 40px 20px;
  border-radius: var(--box-border-radius);
  margin: 0 auto;
  background-color: var(--background-color-darker);
}

/* Optional: if you're worried about overflowing on small screens */
@media (max-width: 1100px) {
  .shopping-cart-container {
    width: 100vh;;
    box-sizing: border-box;
  }
}

.cart-container {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 10px;
}

.cart-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-container li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Specific style for the purchase button only */
.purchase-button {
  background-color: var(--button-color);
  color: white;
  padding: 12px 24px;
  font-size: var(--text-desktop-font-size);
  font-weight: bold;
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 24px;
  display: inline-block;
}

.purchase-button:hover {
  background-color: var(--button-hover-color);
}

.purchase-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}


.quantity-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity-controls button {
  padding: 4px 8px;
  font-size: var(--button-desktop-font-size);
  cursor: pointer;
}

.cart-item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.quantity-controls-wrapper {
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--serious-button-color);
  color: var(--box-color);
  border-radius: var(--button-border-radius);
  padding: 0.5rem;
}

.plus-button {
  width: 100%;
}

.minus-button {
  width: 100%;
}

.shopping-cart-input {
  width: 100%;
}

.quantity-controls-wrapper button {
  color: var(--text-color);
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: var(--text-desktop-font-size);
  cursor: pointer;
  margin: 0.25rem 0;
  border-radius: var(--button-border-radius);
}

.quantity-controls-wrapper span {
  font-weight: bold;
  margin: 0.25rem 0;
}

.total-price {
  margin-top: 20px;
  font-size: var(--h2-desktop-font-size);
  text-align: center;
}

.cart-popup-message {

  z-index: 10;
  height: 40vh;
  width: 60vw;
  position: absolute;
  background: var(--primary-color);
  color: var(--primary-contrast);
  padding: 6px 12px;
  border-radius: var(--box-border-radius);
  font-size: var(--h1-desktop-font-size);
  white-space: wrap;
}