/* Logo */
#Aavgs{
    margin: 10px;
    width: 20%;
    background-color: white;
  }
  @media (max-width: 900px){
    #Aavgs{
      width: 30%;
    }
  }
  
  .LogoText{
    position: absolute;
    border-radius: 4px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    margin-left: 110px;
    margin-top: 8px;
    color: black;
    background-color: white;
    z-index: +2;
  }
  .Logo1{
    position: absolute;
    margin-left: 25px;
    margin-top: 3px;
    z-index: +2;
  }
  
  
  
  *{
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
    }
    body{
      /*font-family: 'Balsamiq Sans', cursive;*/
      font-family: Arial, Helvetica, sans-serif;
    }
    nav{
      background: var(--primary-color);
      height: 80px;
      width: 100%;
      position: absolute;
      z-index: +1;
    }
    label.logo{
      color: black;
      font-size: 35px;
      border-radius: 4px;
      line-height: 80px;
      padding: 0 100px;
      font-family: 'Lobster', cursive;
    }
    nav ul{
      float: right;
      margin-right: 20px;
    }
    nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
    }
    nav ul li a{
      color: white; 
      font-size: 17px;
      padding: 7px 13px;
      border-radius: 3px;
      text-transform: uppercase;
    }
    a.active,a:hover{
      background: #F2F2F2;
      transition: .5s;
      color: black;
    }
    .checkbtn{
      font-size: 30px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
    }
    #check{
      display: none;
    }
    @media (max-width: 1100px){
      label.logo{
        font-size: 30px;
        
      }
      nav ul li a{
        font-size: 16px;
      }
    }
    @media (max-width: 900px){
      .checkbtn{
        display: block;
      }
      ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: var(--secondary-color);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: black;
      }
      #check:checked ~ ul{
        left: 0;
      }
      label.logo{
        font-size: 20px;
        
      }
    }

 /* Css variabelar */
 :root{
    --primary-color: #262834;
    --secondary-color: #FD7D00;
    --third-color: green;
    --fourth-color: green;
    --fifth-color: orange;
    --text-color: black;
    --text-secondcolor: white;
  }