.flights-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.flights-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  overflow-y: auto;
  max-height: 100vh;
  padding-right: 10px;
}



/* Responsive Styles */
@media (max-width: 900px) {
  .flights-container {
    width: 100%;
  }
}
