/* Ensure the body and html take up full height */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Hero Section */
.hero {
    position: relative;
    background-image: url('./images/ross-parmly-rf6ywHVkrlY-unsplash.jpg');  /* Set the path to your image */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px 20px;
    height: calc(100vh - 80px);  /* Full height minus navbar height (adjust '60px' if navbar is taller) */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add an overlay between the background image and the text */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);  /* Adjust opacity */
    z-index: 1;  /* Ensures the overlay is behind the text */
}

/* Ensure the text stays on top of the overlay */
.hero-container {
    position: relative;
    z-index: 2; /* Makes sure text stays on top of the overlay */
}

.hero h1 {
    color: var(--contrast-text-color);
    margin: 0;
    font-size: 40px
}
.hero p {
    color: var(--contrast-text-color);
    margin: 0 0 20px 0;
    font-size: 30px;
}

.search-bar {
    z-index: 3;
}
