/* Container for the entire section */
.product-list {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: var(--box-border-radius);
  margin: 2rem auto;
  max-width: 120rem;
}

/* Header styling */
.product-list-header {
  text-align: center;
  margin-bottom: 2rem;
}

.product-list-header h2 {
  font-size: var(--h2-desktop-font-size);
  color: #111827;
  margin-bottom: 0.5rem;
}

.product-list-header p {
  font-size: var(--text-desktop-font-size);
  color: #6b7280;
}

/* Cards container */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

/* Responsive Design */
@media (max-width: 900px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-list {
    margin: 1rem;
    padding: 1rem;
  }
}
