select {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
}

.adult-input {
    width: 50%;
    height: 0px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
}

.dropdown-window {
    position: absolute;
    top: 100%;
    left: 90%;
    margin-top: 25px;
    transform: translateX(-50%);
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    width: 20%;
}