.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 100%;
    padding: 0 10px;
    position: relative;
}

.search-bar-input,
.search-form button {
    flex: 1 1 200px;
    max-width: 100%;
    box-sizing: border-box;
}

.search-form input {
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: var(--button-border-radius);
    font-size: var(--text-desktop-font-size);
}

.call-to-action {
    padding: 12px 25px;
    border: none;
    background-color: var(--call-to-action-color);
    color: var(--text-color);
    font-size: var(--text-desktop-font-size);
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

.search-form button:hover {
    background-color: var(--call-to-action-highlight-color);
}

.dropdown-button {
    padding: 12px 20px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--contrast-text-color);
    font-size: var(--button-text-desktop-font-size);
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

.autocomplete-wrapper {
    position: relative;
    flex: 1 1 200px;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: var(--button-border-radius);
    font-size: var(--text-desktop-font-size);
}

.autocomplete-wrapper input {
    width: 100%;
}

.autocomplete-suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    z-index: 10;
    list-style: none;
    margin: 0;
    padding: 0;
}

.autocomplete-suggestions li {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-suggestions li:hover {
    background-color: #f0f0f0;
}

/* Mobile Font Sizes */
@media (max-width: 1050px) {
    .search-form input,
    .call-to-action,
    .autocomplete-wrapper {
        font-size: var(--text-mobile-font-size);
    }

    .dropdown-button {
        font-size: var(--text-mobile-font-size);
    }

    .autocomplete-suggestions li {
        font-size: var(--text-mobile-font-size);
    }
}