.purchasedFlights {
  border-radius: var(--box-border-radius);
  padding: 20px;
}


.flights-container {
  display: flex;
  flex-direction: column;
}

/* purchases.module.css */
.cardWithCount {
  position: relative;
  display: inline-block;
}

.purchaseCount {
  position: absolute;
  bottom: 30px;
  right: 12px;
  color: black;
  padding: 4px 8px;
  font-weight: bold;
}