
.settingsMenu {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: var(--background-color);
}

.sidebar {
  width: 220px;
  background-color: var(--box-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tabButton {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  text-align: left;
  font-size: var(--button-text-desktop-font-size);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.tabButton:hover {
  background-color: #f0f0f0;
}

.activeTab {
  background-color: var(--primary-contrast);
  color: var(--text-color);
  font-weight: bold;
}

.tabContent {
  flex: 1;
  padding: 30px;
}
