/* Admin page visible for only logged in admins */
.admin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

.admin-card {
    background-color: var(--box-color);
  padding: 2.5rem;
  border-radius: var(--box-border-radius);
  box-shadow: var(--shadow-color);
  max-width: 480px;
  width: 100%;
  text-align: center;
}

.admin-card h1 {
  font-size: var(--h1-desktop-font-size);
  color: var(--text-color);
  margin-bottom: 1rem;
}

.admin-card p {
  margin-bottom: 2rem;
  font-size: var(--text-desktop-font-size);
  color: var(--text-color);
}

.admin-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.admin-actions button {
  background-color: var(--call-to-action-color);
  color: var(--text-color);
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: var(--button-border-radius);
  font-size: var(--button-desktop-font-size);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.admin-actions button:hover {
  background-color: var(--call-to-action-highlight-color);
}

/* Resposive styling */
@media (max-width: 900px) {
  .admin-card {
    padding: 2rem;
  }

  .admin-card h1 {
    font-size: var(--h1-mobile-font-size);;
  }

  .admin-actions button {
    font-size: var(--button-mobile-font-size);;
  }
}
