.favoriteFlights {
  padding: 20px;
  background-color: #f4f4f9;
}

h2 {
  font-size: var(--h2-desktop-font-size);
  margin-bottom: 10px;
}

p {
  font-size: var(--text-desktop-font-size);
  color: #555;
}

.flightList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.flightItem {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.flightItem h3 {
  font-size: var(--h3-desktop-font-size);
  margin-bottom: 10px;
}

.flightItem p {
  font-size: var(--text-desktop-font-size);
  color: #333;
}

.error {
  color: red;
  font-size: var(--text-desktop-font-size);
  font-weight: bold;
}
