body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

/* CSS variables */
:root {
  /* Main colors */
  --primary-color: #182833;
  --secondary-color: #183040;
  --background-color: rgb(240, 240, 250);
  --background-color-darker: rgb(220, 220, 240);
  --box-color: white;
  --serious-box-color: #ffe6e6;
  --bottom-color: #101520;
  --serious-button-color: #c82333;
  --button-color: #27ae60;
  --button-hover-color: #50c878;

  /* Contrast colors */
  --primary-contrast: #fda300;
  --call-to-action-color: #fda300;
  --call-to-action-highlight-color: #ffc24d;

  /* Text color */
  --text-color: #212529;
  --border-color: black;

  /* Contrast text color */
  --contrast-text-color: #f1f3f5;
  --contrast-border-color: white;

  /* Shadow color */
  --shadow-color: lightgray;

  /* Fonts sizes */
  --h1-desktop-font-size: 2rem;
  --h2-desktop-font-size: 1.5rem;
  --h3-desktop-font-size: 1.25rem;

  --h1-mobile-font-size: 2rem;
  --h2-mobile-font-size: 1.5rem;
  --h3-mobile-font-size: 1.25rem;

  --text-desktop-font-size: 1rem;
  --text-mobile-font-size: 1rem;

  --button-text-desktop-font-size: 1rem;
  --button-text-mobile-font-size: 1.25rem;

  /* Border radius */
  --box-border-radius: 0.5rem;
  --button-border-radius: 0.25rem;

  /* Navbar */
  --navbar-height: 80px;
}
