.login-hero-container {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
  z-index: 10;
}

.login-hero-container h1 {
  font-size: var(--h1-desktop-font-size);
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
  text-align: center;
}

.login-hero-container p {
  font-size: var(--text-desktop-font-size);
  margin-bottom: 25px;
  color: black;
}

.login-hero-container a {
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}

.form-group {
  margin-bottom: 20px;
}

.login-hero-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #222;
}

.login-hero-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: var(--text-desktop-font-size);
}

.form-links {
  display: flex;
  justify-content: space-between;
  font-size: var(--text-desktop-font-size);
  margin-bottom: 20px;
}

.primary-button {
  width: 100%;
  background-color: var(--call-to-action-color);
  border: none;
  color: #000;
  font-size: var(--button-text-desktop-font-size);
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.primary-button:hover {
  background-color: var(--call-to-action-highlight-color);
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #666;
  font-size: var(--text-desktop-font-size);
  margin-bottom: 20px;
}

.divider hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}

#result-message{
  color:red;
}