.role-container {
  padding: 1rem;
}

.role-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.role-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.role-list li {
  flex: 1 1 30%;
  max-width: 300px;
}

/* Responsive styles */
@media (max-width: 900px) {
  .role-list {
    flex-direction: column;
    align-items: center;
  }

  .role-list li {
    max-width: 100%;
    font-size: var(--text-mobile-font-size);
  }

  .role-container h2 {
    font-size: var(--h2-mobile-font-size);
  }
}
