.login-hero-container {
    background-size: cover;
    padding: 50px 0;

  }
  .login-hero-container {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .login-hero-container label {
    text-align: center;
    color: white;
    display: block;
    margin-bottom: 5px;
  }
  .login-hero-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    z-index: 3;
  }
  .login-hero-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    cursor: pointer;
    z-index: 3;
    margin-bottom: 20px;
  }
  button:hover {
    background: #0056b3;
  }

#create-account-link{
  color: white;
}

#create-account-link:hover{
  background: #0056b3;
}

#result-message{
  font-size: 16px;
  max-width: 300px;
}