<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <title>Navbar component</title>
</head>
<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"./Aapn.html></i>
            </label>
            <label class="logo"></label>
            <ul>
              <li><a class="active" href="#">Home</a></li>
              <li><a href='/info'>Deals</a></li>
              <li><a href='/cars'>About</a></li>
              <li><a href='/contact'>Contact us</a></li>
          </ul>
          </nav>
    </header>
</body>
</html>