.card {
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.5rem lightgray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-description {
    padding: 1rem 2rem;
    text-align: center;
}

.card.highlighted {
    box-shadow: 0 0 2rem 1rem rgba(200, 200, 200, 0.75);
}

/* Hover animation */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem lightgray;
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center; /* Keeps cards centered on small screens */
        margin: 0px;
    }
}
